<div class="row" style="padding-top: 11px;">
</div>
<div ng-if="loading" class="loading"><i class="fa fa-spinner fa-spin"></i></div>
<div class="alert {{verifyMessage.type}} alert-dismissable alert-fixed fade in" ng-if="verifyMessage.show">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"
    ng-click="verifyMessage.show = false">&times;</button>
  <strong>{{verifyMessage.text}}</strong>
</div>
<div class="row" style="padding-top: 10px">
  <div class="col-xs-12">
    <h4 style="padding-left: 15px;">Confirm Email Address</h4>
    <hr />
    <div class="col-xs-12 col-md-offset-2 col-md-8">
      <p ng-if="loading">Confirming your email address...</p>
      <p ng-if="!loading">{{verifyMessage.text}}</p>
      <a href="/auth/profile" class="btn btn-default" ng-if="!loading">Back to profile</a>
    </div>
  </div>
</div>
