{
    "env": {
        "node": true,
        "es2021": true,
        "mocha": true
    },
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "script"
    },
    "extends": [
        "eslint:recommended",
        "plugin:node/recommended",
        "plugin:jsdoc/recommended",
        "airbnb-base",
        "wesbos",
        "prettier"
    ],
    "ignorePatterns": ["themes/**"],
    "plugins": ["prettier", "jsdoc"],
    "rules": {
        "no-console": "off",
        "no-unused-expressions": "off",
        "camelcase": "warn",
        "no-use-before-define": "off",
        "no-var": "off",
        "consistent-return": "off",
        "node/no-unpublished-require": "off",
        "prettier/prettier": [
            "error",
            {
                "plugins": ["prettier-plugin-jsdoc"],
                "trailingComma": "es5",
                "singleQuote": true,
                "printWidth": 120,
                "tabWidth": 4
            }
        ]
    }
}